div{

    width: 800px;
    height: 800px;
    background-color: red;
    display: flex;
    justify-content: space-around;
    
}

.child{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 0, 55);
    border: 3px solid rgb(148, 148, 148);
    font-size: 30px;
    display:flex;

}

