body {

    color:white;

    background-color:black;

}

.phar {

    color:aliceblue;

    background-color:black;

}

.bird {

    color:white;

    background-color: black;
}

.image {

    color:aliceblue;

    background-color: black;
}