#reset {

    padding: 0;
    margin: 0;
    border: 0;

}
/* reset css გამოიყენება რათა საიტი დააბრუნოს საწყის მდგომარეობაში, სადაც ყველა padding, margin და border 0 არის.
საჭიროა რათა მოაცილოს საიტის ბრაუზერის მიერ დამატებული ჩვეულებრივი სტილი და დიზაინერი თავისით შეძლებს დიზაინის შექმნას. */