td {
    
    color:blue;
    background-color: aqua;

}

th {

    color:darkblue;
    background-color:cornflowerblue;

}

h1 {

    color:darkslateblue;
    background-color: dodgerblue;
    text-decoration: underline;

}

body {

    background-color: indigo;

}

