h1 {

    background-color: blueviolet;
    text-decoration: underline;
    color:hotpink;

}

input[type="name"]{

    background-color: rgb(241, 120, 255);
    height: 30px;
    border-radius: 25%;

}

input[type="password"]{

    width: 200px;
    height: 150px;
    border-radius: 25px 15px;
    background-color: rgb(214, 119, 255);

}

ul{

    list-style-type: lower-latin circle none;
    background-color: rgb(255, 127, 225);
}

body {

    text-align: center;
    background-color: fuchsia;

}