* {
    margin: 0;
    padding: 0;
}
#center {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 0;
}
#one {
    display: grid;
    grid-template-columns: 20% 20% 20%;
}

#two {
    display: grid;
    grid-template-columns: 20% 20% 20%;
}
img {
    width: 500px;
    height: 400px;
}

p, h1 {
    color: white;
}

p {
    position: relative;
    top: 150px;
    right: 150px
}