.circle {
    height: 70px;
    width: 70px;
    background-color: #9FCFFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: transform;
    transition-duration: 5s;
    transition-timing-function: ease;
    transition-delay: 1000ms;
}

.circle:hover{
    transform: rotate(135deg);
    background-color: aqua;
    scale: 10;
}
